* {
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.column-left, .column-center, .column-right {
  float: left;
  padding: 10px;
}

.column-left {
  width: 15%;
}

.column-right {
  width: 35%;
}

.column-center {
  width: 50%
}

.column-left > #mouth-pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  /* grid-template-rows: 6;
  grid-template-columns: 2; */
  /* grid: repeat(2, 60px) / auto-flow 80px; */
}

.column-left > #mouth-pics > div {
  width: 100px;
  height: 100px;
  background-color: black;
}

#mouth-pics > div > img {
  border: 1px solid black;
}

.column-right > #symbols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px; 
}

.column-right > #symbols > div {
  width: 100px;
  height: 100px;
  background-color: black;
}

.column-center > #work-mat {
  height: 800px;
  max-height: 800px;
  border: 2px solid black;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0;
  row-gap: 0;
}

.column-center > #work-mat > div {
  /* width: 25px;
  height: 25px; */
  border: 1px solid rgba(50, 117, 117, 0);
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  /* position: absolute; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-header {
  text-align: center;
  display: inline-block;
}

button {
  float: right;
}

#work-mat {
  height: 100%;
  border: 2px solid black;
  overflow: hidden; 
}

.tile {
  cursor: move; 
}

.hidden {
  opacity: 0;
}

.blank {
  opacity: 0;
}

#clear-button {
  width: 100px;
  height: 30px;
  font-size: 20px;
  text-align: center; 
  margin: auto; 
}

/* #trash-button {
  width: 70px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  margin: auto;
} */

/* .tile:hover {
  opacity: 0.5;
} */